<div class="well wellHttpLink">
	<li class="li_list_style_none">
		<div class="row">
			<ul class="zero_padding">
				<li class="li_list_style_none">
					<div class="col-md-12">
						<ul>
							<li><div class="form-group">{{ form_row(form.link) }}</div></li>
							<li><div class="form-group">{{ form_row(form.title) }}</div></li>
							<li><div class="form-group">{{ form_row(form.diagnosisOf) }}</div></li>
							<li><div class="form-group">{{ form_row(form.visibility) }}</div></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</li>
</div>