<div class="panel panel-default" id="panel-floristic">
	<div class="panel-heading panelSpeciesHeader">Cortège floristique{% if species is defined and species is empty %} : non renseigné{% endif %}<span class="speciesShowAll li-restricted pull-right">Afficher tout</span></div>
	{% if species is defined and species is not empty %}
		<ul class="list-group">
			{% for sp in species %}
				<li class="list-group-item speciesBox">
					<a href="http://www.tela-botanica.org/bdtfx-nn-{{ sp.bdnffNomenId }}-synthese" target="_blank">{{ sp.scientificName }}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>