<div class="panel panel-default" id="panel-mapEurope">
	<div class="panel-heading">Europe</div>
	<div class="panel-body">
		<div id="mapEurope{% if uniqueId is defined and uniqueId is not empty %}-{{ uniqueId }}{% endif %}"></div>
		<div id="mapEuropeHoverLegend{% if uniqueId is defined and uniqueId is not empty %}-{{ uniqueId }}{% endif %}"></div>
		<div id="mapEuropeToggleLegend{% if uniqueId is defined and uniqueId is not empty %}-{{ uniqueId }}{% endif %}">Légende</div>
		{% if showOptions == true %}
			<div class="pull-right"><a href="#" class="no-style"><i class="fa fa-comment" data-toggle="modal" data-target="#modalFeedbackMapEurope" data-tooltip="tooltip" title="Faire un commentaire" data-placement="left"></i></a></div>
			<div class="pull-right"><a id="download-mapeurope-image" href="" class="no-style" data-tooltip="tooltip" title="Télécharger la carte" data-placement="left" download><i class="fa fa-download"></i></a></div>
		{% endif %}
		<div id="mapEuropeLegend{% if uniqueId is defined and uniqueId is not empty %}-{{ uniqueId }}{% endif %}"></div>
	</div>
</div>