/web/bundles/
/web/uploads/
/web/media/
/web/img/cache/
/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

web/uploads/import/repartition/depfr/bvDepFr_18062015.csv

src/eveg/AppBundle/Resources/views/Admin/test.html.twig

*.php~

*.php~

*.DS_Store

web/css/fancytree.css

web/css/main_pdfExport.css

web/css/main.css

web/css/vendors.css

web/js/13cb1de.js

web/js/autocomplete.js

web/js/ce36f45.js

web/js/feedbacks.js

web/js/main_compare.js

web/js/main.js

web/js/maps_compare.js

web/js/maps.js

web/js/tree.js

web/js/vendors_admin.js

web/js/vendors_pdfExport.js

web/js/vendors.js

web/js/addons.js
