/web/bundles/
/web/uploads/
/web/media/
/web/img/cache/
/app/bootstrap*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

web/uploads/import/repartition/depfr/bvDepFr_18062015.csv

src/eveg/AppBundle/Resources/views/Admin/test.html.twig

*.php~

*.php~

app/config/parameters.yml.dist
