{# app/Resources/views/Admin/dashboard.html.twig #}

{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block title %} Dashboard | {{ parent() }} {% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row whiteRow">
		<h1>Tableau de bord</h1>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-8">
					{# top users #}
					{{ render(controller("evegUserBundle:Default:topUsers")) }}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			{# top users #}
			{{ render(controller("evegAppBundle:Admin:getDocumentsInfos")) }}
		</div>
	</div>

{% endblock %}
