Activé 
{% if repartition.enabled == true %}
	<i class="text-success fa fa-toggle-on" aria-hidden="true"></i>
{% else %}
	<i class="text-danger fa fa-toggle-off" aria-hidden="true"></i>
{% endif %}
 | 
Validé
{% if repartition.validated == true %}
	<i class="text-success fa fa-toggle-on" aria-hidden="true"></i>
{% else %}
	<i class="text-danger fa fa-toggle-off" aria-hidden="true"></i>
{% endif %}</p>