<div class="hidden-xs">
	{% for item in footer %}
		<div class="footer-item">
			{{ item }}
		</div>
	{% endfor %}
</div>
<div class="hidden-sm hidden-md hidden-lg">
	{% for item in footer %}
		<div class="footer-item-mobile">
			{{ item }}
		</div>
	{% endfor %}
</div>
