<div class="right-inner-addon">
	<div class="searchIcon"><i class="fa fa-spin fa-refresh" aria-hidden="true"></i></div>
	<span class="badge-addon badge">X</span>
	<div class="input-group">
		<input type="text" class="form-control searchbox" name="term" id ="searchbox" placeholder="{{ 'eveg.search.placeholder'|trans }}" autofocus>
		{#<div class="input-group-addon searchboxOptionsIcon" data-container="body" data-toggle="popoverSearchOptions" data-placement="bottom" title="Options">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			<div id="popover-searchOptions-head" class="hide">Options</div>
		</div>#}
		<span id="searchHelperIcon" class="input-group-addon hidden-xs" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="hover" title="" data-content="{{ 'eveg.search.help'|trans({'%code_start%' : '<kbd>', '%code_end%' : '</kbd>', '%bold_start%' : '<b>', '%bold_end%' : '</b>', '%separator%' : '<hr />', '%citation_start%' : '<i>', '%citation_end%' : '</i>', '%space%' : '&nbsp;'})|nl2br }}">
			<i class="fa fa-info-circle" aria-hidden="true"></i>
		</span>
	</div>
</div>