<div class="right-inner-addon">
	<i class="searchIcon glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
	<span class="badge-addon badge">X</span>
	<div class="input-group">
		<input type="text" class="form-control searchbox" name="term" id ="searchbox" placeholder="{{ 'eveg.search.placeholder'|trans }}">
		<div class="input-group-addon searchboxOptionsIcon" data-container="body" data-toggle="popoverSearchOptions" data-placement="bottom" title="Options">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			<div id="popover-searchOptions-head" class="hide">Options</div>
		</div>
	</div>
</div>