parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     eveg
    database_user:     root
    database_password: ~

    database_driver_psi_db:   pdo_mysql
    database_host_psi_db:     127.0.0.1
    database_port_psi_db:     5432
    database_name_psi_db:     ~
    database_user_psi_db:     ~
    database_password_psi_db: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ruby: ''
    sass: ''
    compass: ''

    eveg:
        feedback:
            mail_base_admin: "stephanedelplanque@yahoo.fr"
            mail_website_admin: "eveg.stephane.delplanque@gmail.com"
        tb_host: www.tela-botanica.org
    algolia.application_id: APPID
    algolia.api_key: APIKEY
