<div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modalSearch">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			{#<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title text-center" id="modalSearch">{{ 'eveg.search.placeholder'|trans }}</h4>
			</div>#}

			<div name="depFrFilter" class="modal-body">
				<div class="row">
					{% include('evegAppBundle:Default:/Fragments/searchBar.html.twig') %}
				</div>
			</div>

		</div>
	</div>
</div>