{# src/eveg/AppBundle/Resources/views/Default/howto.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
	 | {{ parent() }}
{% endblock %}

{% block body %}

	{% for syntaxon in syntaxons %}
		<p>{{ syntaxon.syntaxon }}</p>
		<p>{{ syntaxon.getUrl }}</p>
	{% endfor %}

{% endblock %}
