{# src/eveg/AppBundle/Resources/views/Default/participate.html.twig #}

{% extends "::layout.html.twig" %}


{% block title %}
	Comment participer ? | {{ parent() }} : {{ 'eveg.web_title'|trans }}
{% endblock %}

{% block body %}

	{{ parent() }}

	<div class="row">
		<h1>Participer à eVeg</h1>
	</div>
{% endblock %}