{# src/eveg/UserRepartitionBundle/Resources/views/Admin/listDisabledOrUnactive.html.twig #}

{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block title %}
	Données non activées ou non validées | {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="row whiteRow">

		<div class="jumbotron admin">
			<h1>Données non activées ou non validées</h1>
		</div>

		<div class="col-md-12">
			{% include 'evegUserRepartitionBundle:Admin/Fragments:dataTable.html.twig' with { 'repartitions': repartitions } only %}
		</div>
	</div>
{% endblock %}