<div class="thumbnail thumb-blue">
	<div class="caption">
		<h2><i class="fa fa-star-o"></i>Utilisateurs</h2>

		<ul class="list-group">
			<li class="list-group-item ellipsis">
				<b><span>Nom</span>
				<span class="pull-right"><i class="fa fa-star-o"></i></span></b>
			</li>
			{% for user in topUsers %}
				{% if loop.index is not divisibleby(2) %}
					<li class="list-group-item ellipsis list-highlight-blue">
				{% else %}
					<li class="list-group-item ellipsis">
				{% endif %}
						<span class="badge pull-right">{{ user.TotalScore }}</span>
						<span>{{ user[0].username }}</span>
					</li>
			{% endfor %}
		</ul>
	</div>
</div> <!-- thumbnail-->