{% extends "evegAppBundle:Admin:layout.html.twig" %}

{% block body -%}
    <h1>SyntaxonCore creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_syntaxon') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
