@import 'eveg-colors';

$highlightColor: rgba(255, 205, 26, 0.1);
$borderColor: rgba(255, 205, 26, 0.3);
$searchBoxExtendColor: rgba(0, 0, 0, 0.3);
$rightInnerAddonPosition: 40px;

span.highlightSearch {
	background-color: $highlightColor;
    border: 1px solid $borderColor;
    border-radius: 2px;
}

validSearch {
	font-weight: bold;
}

synonymeSearch {
	
}

.searchBoxExtend {
	padding: 10px;
	background-color: $searchBoxExtendColor;
}

.searchbox:focus {
	border-color: none;
	box-shadow: none;
	outline: 0 none;
}

// option icon
.searchboxOptions {
    
}

// Icon inner addon (input bootstrap)

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon .input-group {
    width: 100%;    
}

.right-inner-addon i {
    position: absolute;
    right: $rightInnerAddonPosition;
    padding: 12px 12px;
    pointer-events: none;
    z-index: 10;
}
.right-inner-addon span.badge-addon {
	position: absolute;
    right: $rightInnerAddonPosition + 10;
    top: 10px;
    z-index: 11;
    //padding: 12px 12px;
    pointer-events: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

// searchbox
#searchbox {
    border-right: none;
}

// Help icon
.searchBoxExtend {
    #searchHelperIcon {
        border-color: transparent;
        border-radius: inherit;
        background-color: #FFFFFF;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        i {
            position: relative;
            left: 0px;
            top: 0px;
            padding: 0;
            font-size: 18px;
        }
    }
}
.modal-content {
    #searchHelperIcon {
        border-color: transparent;
        border-radius: inherit;
        background-color: #FFF;
        box-shadow: none;
        i {
            position: relative;
            left: 0px;
            top: 0px;
            padding: 0;
            font-size: 18px;
        }
    }
}

.ui-autocomplete {
    z-index: 2000;
    &.ui-widget-content {
        border: none;
        border-bottom: 3px solid $evegFocusColor;
        border-radius: 0 0 7px 7px;

        max-height: 350px;
        overflow-y: scroll;

    }
    .ui-menu-item {
        padding-top: 6px;
        padding-bottom: 6px;
        border-top: 1px solid #EFEDED;

        &.ui-state-focus {
            margin: 0;
            border: none;
            border-top: 1px solid transparent;
            background-color: $evegFocusColorLight;
            border-radius: 7px 7px 7px 7px;
        }
    }
}

// panel options
.searchboxPanelOptions {
    padding: 0;
    margin: 0;

    border: none;
    background-color: transparent;
    color: white;
    text-align: left;
}
.searchboxPanelOptions .panel-body {
    padding-top: 10px;
    padding-bottom: 0;
}

// Modal style
#modalSearch {
    .modal-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    input {
        border: none;
        box-shadow: none;
        outline: 0 none;
    }
}

