$color-HAB-text: #000000;
$color-CLA-text: #CF1B1B;
$color-SUBCLA-text: #BA1616;
$color-ORD-text: #1848CC;
$color-SUBORD-text: #1642BA;
$color-ALL-text: #1DCF2C;
$color-SUBALL-text: #19BF27;
$color-ASSGR-text: #19BF27;
$color-ASS-text: #ED8A18;
$color-SUBASS-text: #D67C15;

$indent: 10px;

@mixin display-syntaxon-text(){
	display: inline-block;
}

.HAB-text {
	color: $color-HAB-text;
}

.CLA-text {
	color: $color-CLA-text;
}

.SUBCLA-text {
	color: $color-SUBCLA-text;
}

.SUBCLA-indent {
	padding-left: $indent;
	@include display-syntaxon-text();
}


.ORD-text {
	color: $color-ORD-text;
}

.ORD-indent {
	//padding-left: ($indent*2);
	padding-left: ($indent*2); 
 	@include display-syntaxon-text();
 	
}

.SUBORD-text {
	color: $color-SUBORD-text;
}

.SUBORD-indent {
	padding-left: ($indent*3);
	@include display-syntaxon-text();
}


.ALL-text {
	color: $color-ALL-text;
}

.ALL-indent {
	padding-left: ($indent*4);
	@include display-syntaxon-text();
}


.SUBALL-text {
	color: $color-SUBALL-text;
}

.SUBALL-indent {
	padding-left: ($indent*5);
	@include display-syntaxon-text();
}

.ASSGR-text {
	color: $color-ASSGR-text;
}

.ASSGR-indent {
	padding-left: ($indent*5.5);
	@include display-syntaxon-text();
}

.ASS-text {
	color: $color-ASS-text;
}

.BC-text {
	color: $color-ASS-text;
}

.DC-text {
	color: $color-ASS-text;
}

.RACE-text {
	color: $color-ASS-text;
}

.ASS-indent {
	padding-left: ($indent*6);
	@include display-syntaxon-text();
}

.BC-indent {
	padding-left: ($indent*6);
	@include display-syntaxon-text();
}

.DC-indent {
	padding-left: ($indent*6);
	@include display-syntaxon-text();
}

.RACE-indent {
	padding-left: ($indent*6);
	@include display-syntaxon-text();
}

.GRPT-text {
	color: $color-ASS-text;
}

.GRPT-indent {
	padding-left: ($indent*6);
	@include display-syntaxon-text();
}

.SUBASS-text {
	color: $color-SUBASS-text;
}

.SUBASS-indent {
	padding-left: ($indent*7);
	@include display-syntaxon-text();
}