ul.httpLinkForm{
	padding-left: 0;
}

.well.wellHttpLink {
	border-radius: none;
	border: none;
	background-color: transparent;
		li{
			list-style:none;
		}
}

li.li_list_style_none{
	list-style:none;
}

.syntaxonHttpLinks {
	padding: 0;
}

ul {
	
	.zero_padding {
		padding: 0;

		button {
			margin-bottom: 5px;
		}
	}
	.flex {
		display: flex;
		flex-direction: column-reverse;
	}
}
.saveButtons {
	margin: 5px;
	display: flex;
	flex-direction: row;
	button {
		flex: auto;
		margin: 5px;
	}
}
@media (max-width: 768px) {
	.saveButtons {
		flex-direction: column;
	}
}